.nav {
  position: relative;  /* So the underline is positioned relative to the nav */
  height: 50px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
}

.underline {
  position: absolute;
  height: 3px;
  background: #e0041c;
  width: 0;
  bottom: -10px;
  transition: all 0.3s ease-in-out;
  
  
}
 
 .underline.dashboard {
   width: 100px;
   bottom: -10px;  /* Distance from the link */
   left: 18px;  /* Adjust based on the position of your links */
 }
 
 .underline.goals {
   width: 55px;
   bottom: -10px;
   left: 155px;  /* Adjust based on the position of your links */
 }

 .underline.stats {
  width: 50px;
  bottom: -10px;
  left: 245px;  /* Adjust based on the position of your links */
}

.underline.friends {
  width: 68px;
  bottom: -10px;
  left: 335px;  /* Adjust based on the position of your links */
}

.underline.meals {
  width: 52px;
  bottom: -10px;
  left: 440px;  /* Adjust based on the position of your links */
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake-icon {
  animation: shake 0.5s; 
  animation-iteration-count: 12s; 
}